.container {
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr 5fr;
  grid-template-columns: repeat(8, 1fr);
  border: 10px solid black;
}

div {
  border: 10px solid black;
}

.child1 {
  grid-row: span 2;
  grid-column: span 1;
}

.child2 {
  grid-row: span 2;
  grid-column: span 3;
  background-color: red;
}

.child3 {
  grid-row: span 2;
  grid-column: span 4;
}

.child4 {
  grid-row: span 1;
  grid-column: span 1;
}

.child5 {
  grid-row: span 1;
  grid-column: span 2;
}

.child6 {
  grid-row: span 1;
  grid-column: span 1;
}

.child7 {
  grid-row: span 1;
  grid-column: span 4;
  background-color: red;
}

.child8 {
  grid-row: span 5;
  grid-column: span 1;
  background-color: blue;
}

.child9 {
  grid-row: span 5;
  grid-column: span 2;
}

.child10 {
  grid-row: span 5;
  grid-column: span 1;
  background-color: gold;
}

.child11 {
  grid-row: span 5;
  grid-column: span 4;
}

.child12 {
  grid-row: span 2;
  grid-column: span 1;
}

.child13 {
  grid-row: span 2;
  grid-column: span 3;
}

.child14 {
  grid-row: span 2;
  grid-column: span 4;
  background-color: blue;
}

p {
  visibility: hidden;
}
